<script>Chartkick.configure({language: 'es'});</script>
= column_chart [["2016-01-01", 30], ["2016-02-01", 54]], stacked: true, library: {colors: ["#D80A5B", "#21C8A9", "#F39C12", "#A4C400"]}
= line_chart Client.group_by_month(:created_at).count